:root {
	--hexWidth: 100px;
	--hexHeight: 110px;
  }

* {
  box-sizing: border-box;
  font-family: orpheus-pro;
  overflow-x: hidden;
  overflow-y: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  align-items: stretch;
  color: #090b0e;
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: GuruProximaNova, HelveticaNeue-Light, Helvetica Neue Light,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  justify-content: center;
  overflow: hidden;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.main {
  background: purple;
}

/* REPorts */
#header {
  width: 100%;
  border: 2px solid purple;
  height: 30%;
}

#nav {
  width: 100%;
  height: 30%;
  border: 12px solid purple;
}

#dash {
  width: 100%;
  height: 30%;
  border: 2px solid purple;
}

#panel {
  width: 100%;
  height: 30%;
  border: 2px solid purple;
  height: 10%;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8); 
  background: linear-gradient(180deg, rgb(214, 144, 182) 0%, rgb(209, 151, 174) 50%, rgb(213, 142, 156) 100%);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  filter: opacity(50%)
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(255,0,0,0.4); 
background: grey;
}



/* SpacePort */
.container
{
	position: relative;
  animation: animate 4s linear infinite;
  overflow: hidden;
	/* height: 50vh;
	width: 50vw;


	transform: scale(.5); */
}
@keyframes animate
{
	0%
	{
		filter: hue-rotate(121deg);
	}
	100%
	{
		filter: hue-rotate(129deg);
	}
}
.row
{
	display: inline-flex;
	margin-top: -32px;
	margin-left: -50px;
}
.row:nth-child(even)
{
	margin-left: 1px;
}
.hexagon
{
	position: relative;
	width: var(--hexWidth);
	height: var(--hexHeight);
	background: rgb(42, 42, 42);
	margin: 0.01px;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: 2s;
}
.hexagon:hover
{
	transition: 0s;
	background: rgb(34, 34, 34);
}
.hexagon:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	pointer-events: none;
	background: rgba(255,255,255,0.02);
}